.mainContainer{
    padding: 30px;

}
.tableContainer{
    width: 100%;
}

.tableRow{
    border: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}
.bodyRow{
    border-top: 0px;
}

.col-1{
    width: 10%;
    border-right: 1px solid black;
}
.col-2{
    width: 30%;
    border-right: 1px solid black;
}
.col-3{
    width: 30%;
}
.col-4{
    width: 40%;
    border-right: 1px solid black;
}